*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body{
     background-color: rgb(11, 12, 31);
     text-align: center;
}

form{
     text-align: center;
     margin-top: 1rem;
     margin-inline: auto;
     display: flex;
     justify-content: center;
     gap: 1rem;
     flex-wrap: wrap;
     background-color: #fff;
     width: 90%;
     max-width: 30rem;
     padding: 2rem;
     border-radius: 1rem;
}

#nomeusuario{
     margin-inline: 50%;
     border-radius: 5px;
     transition: 300ms;
}

.titulo{
     color: white;
     text-align: center;
     margin-top: 5rem;
     font-size: 3rem;
}

#placar{
     margin-inline: auto;
     display: flex;
     justify-content: center;
     width: 70%;
     gap: 2rem;
     margin-top: 2rem;
     font-size: 5rem;
}

.cardplacar{
     width: 6rem;
     height: 6rem;
     background-color: #fff;
     text-align: center;
     border-radius: 1rem;
}

#container{
     margin-top: 2rem;
     margin-inline: auto;
     width: 100%;
     max-width: 50rem;
     display: flex;
     justify-content: space-around;
}

.cardjogador{
     width: 30%;
     background-color: #fff;
     text-align: center;
     border-radius: 1rem;
     transition: 300ms;
}

#escolhas{
     margin-top: 1rem;
     margin-bottom: 1rem;
     margin-inline: auto;
     width: 100%;
     max-width: 50rem;
     display: flex;
     justify-content: center;
     gap: 1rem;
}

.btns{
     padding: 3px;
     border-radius: 5px;
     width: 5rem;
}

#alertaponto{
     color: rgb(5, 196, 5);
     transition: 1000ms;
     display: none;
}
